{% block header %}
<div class="">
    <a href="store/all" style="width: 100%;">
        <div class="ui bottom blue attached button">
            Parcourir les stores ({{sections|length}})
        </div>
    </a>
</div>
{% endblock %}

{% block body %}
<div style="display: flex; flex-wrap : wrap">
    {% for elm in sections %}
    <div class="ui link cards" style="width: 30%; margin: 10px;">
        <div class="card">
            <div class="content">
                <div class="header">{{elm.name}}</div>
                <div class="description">
                    <p style="text-align: justify">{{elm.description}}</p>
                </div>
            </div>
            <a href="store/section/{{elm.id}}" style="width: 100%;">
                <div class="ui bottom attached button">
                    <i class="eye icon"></i>
                    Consulter les produits ({{elm.getProducts|length}})
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}