{% block header %}
<div class="">
    <h1 class="">Section</h1>
    <h2 class="">{{ section.name }}</h2>
</div>
{% endblock %}

{% block body %}
<div style="display: flex; flex-wrap : wrap">
    {% for prod in section.getProducts() %}
    <div class="ui link cards" style="width: 30%; margin: 10px;">
        <div class="card">
            <div class="image">
                {{ img('store/' ~ prod.image ~ '.jpg') }}
            </div>
            <div class="content">
                <div class="header">{{prod.name}}</div>
                <div class="description">
                    {{prod.price}} euros
                </div>
            </div>
            <a href="store/add/{{ prod.id }}/1" style="width: 100%;">
                <div class="ui bottom attached button">
                    <i class="add icon"></i>
                    To cart
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}